body {
    padding: 20px;
}

.header {
    height: 100px;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header__left {
    color: blue;
}

.header__nav {
    display: flex;
}

.header__nav-li {
    margin-left: 10px;
    color: blue;
}

.firstview {
    height: 500px;
    position: relative;
}

.firstview__img {
    width: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    z-index: 10;
}

.firstview h2 {
    font-size: 50px;
    position: absolute;
    top: 50%;
}

.firstview__box {
    width: 75%;
    height: 200px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 60%;
    z-index: 0;
}